@using SistemaDeGestionDeEquipos.datos.EF;
@model List<SistemaDeGestionDeEquipos.datos.EF.Jugador>

@{
    ViewBag.Title = "Jugadores";
}


<h2>Jugadores</h2>

<form action="/Jugador/Index" method="post">
    <div>
        Equipo:
        <select name="IdEquipo">
            <option value="">Todas</option>
            @foreach (Equipo equipo in ViewBag.Equipos)
            {
                if (ViewBag.IdEquipoElegido == equipo.IdEquipo)
                {
                    <option selected="selected" value="@equipo.IdEquipo">@equipo.NombreEquipo</option>
                }
                else
                {
                    <option value="@equipo.IdEquipo">@equipo.NombreEquipo</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].IdJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NombreCompleto)
            </th>
            <th>
                Equipo
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJugador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEquipoNavigation.NombreEquipo)
                </td>
            </tr>
        }
    </table>
</form>